<h1>Restaurants#index</h1>
<p>Find me in app/views/diners/index.html.erb</p>



<%= link_to "Signup your restaurant!", new_diner_path %>
<hr>
<% @diners.each do |diner| %>
--------diner start------
<div>
    <div>email: <%= diner.email %></div>
    <div>name: <%= diner.name %></div>
    <div>location: <%= diner.location %></div>
    <div>description: <%= diner.description %></div>
    <div>rating: <%= diner.rating %></div>

</div>
-------diner end---------


<p><%= diner.description %></p>
<hr>
<% end %>  