<h1>Restaurants#index</h1>
<p>Find me in app/views/diners/index.html.erb</p>




<div><%= link_to "Add new retaurant!", new_diner_path %></div>


<div><%= link_to "Signup deal", new_diner_deal(:diner => current_user.id) %></div>

-------diner start ------------

<% @diners.each do |diner| %>
<div>email: <%= diner.email %></div>
<div>name: <%= diner.name %></div>
<div>location: <%= diner.location %></div>
<div>description: <%= diner.description %></div>
<div>rating: <%= diner.rating %></div>


<p><%= diner.description %></p>


<div>Deals offered: </div>
<% diner.deals.each do |deal| %>
<p><%= deal.name %></p>
<% end %>

-------diner end---------



<% end %>  