<h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p>



<%= link_to "Back to all restaurants", restaurants_path %><br/>

<%= link_to image_tag(@restaurant.poster_image_url), restaurant_path(@restaurant) %>
<h2><%= @restaurant.title %> (<%= link_to "edit", edit_restaurant_path(@restaurant) %>, <%= link_to "delete", restaurant_path(@restaurant), method: :delete, confirm: "You sure?" %>)</h2>
<h3><%= @restaurant.release_date %></h3>
<h4>Dir. <%= @restaurant.director %> | <%= @restaurant.runtime_in_minutes %> minutes</h4>
<p><%= @restaurant.description %></p>
